<h1><%= @division.name() %></h1>

<form action="/divisions" method="post">
  <input name="_method" value="patch" type='hidden'>
  <input id="id" name="id" type="hidden" value="<%= @division.id() %>">
  <label for="name">Change division name:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Submit</button>
</form>

<!-- <p><a href="/divisions/<%= @division.id() %>/edit">Edit <%= @division.name() %> division</a></p>
    <p><a href="/">Return to Main Page</a></p> -->

<hr>

    <% if @division.employees().any?() %>
      <h3>Here are all the employees in this division:</h3>
      <ul>
        <% @division.employees().each() do |employee| %>
          <li><%= employee.name() %> </li>
        <% end %>
      </ul>
      <% else %>
        <p>There are no employees on this division!</p>
      <% end %>

    <h3>Add a employee to <%= @division.name() %> </h3>

    <form action="/employees" method="post">
      <input id="division_id" name="division_id" type="hidden" value="<%= @division.id() %>">
      <label for="name">Description of the employee:</label>
      <input id="name" name="name" type="text">
      <button type="submit">Add employee</button>
    </form>

    <!-- <p><a href="/divisions/<%= @division.id() %>/edit">Edit <%= @division.name() %> division</a></p>
        <p><a href="/">Return to Main Page</a></p> -->

    <hr>
