<h1><%= @team.name() %>  <small>(<%= @team.coordinator() %>)</small></h1>

<form action="/teams" method="post">
  <input name="_method" value="patch" type='hidden'>
  <input id="id" name="id" type="hidden" value="<%= @team.id() %>">
  <label for="name">Change team name:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Submit</button>
</form>

<!-- <p><a href="/teams/<%= @team.id() %>/edit">Edit <%= @team.name() %> team</a></p>
    <p><a href="/">Return to Main Page</a></p> -->

<hr>

    <% if @team.players().any?() %>
      <h3>Here are all the players in this team:</h3>
      <ul>
        <% @team.players().each() do |player| %>
          <li><%= player.name() %> </li>
        <% end %>
      </ul>
      <% else %>
        <p>There are no players on this team!</p>
      <% end %>

    <h3>Add a player to <%= @team.name() %> </h3>

    <form action="/players" method="post">
      <input id="team_id" name="team_id" type="hidden" value="<%= @team.id() %>">
      <label for="name">Name of player:</label>
      <input id="name" name="name" type="text">
      <button type="submit">Add player</button>
    </form>

    <!-- <p><a href="/teams/<%= @team.id() %>/edit">Edit <%= @team.name() %> team</a></p>
        <p><a href="/">Return to Main Page</a></p> -->

  <hr>

  <div class="row">
    <div class="col-md-6">
      <h3>Add a Fixture</h3>
      <div class="row">
      <div class="col-md-4">
        <div style="text-align:center"><a href="/teams/<%=@team.id%>/?add_home=true" class="btn btn-primary">Home</a></div>
      </div>
      <div class="col-md-4"><div class="text-center">OR</div></div>
      <div class="col-md-4">
        <div style="text-align:center"><a href="/teams/<%=@team.id%>/?add_away=true" class="btn btn-primary">Away</a></div>
      </div>
    </div>
    </div>
    <div class="col-md-6">
      <%if @add_home%>
      <form action='/games' method='post'>
        <h5><b>Home</b></h5>
        <input id='self_id' name='self_id' value='<%=@team.id()%>' type='hidden'>
        <input id='team1_id' name='team1_id' value='<%=@team.id()%>' type='hidden'>
          <h5><%=@team.name%></h5>
        <h5>vs</h5>
        <h5><b>Away</b></h5>
        <select id='team2_id' name='team2_id' type='text'>
          <% @teams.each() do |team| %>
            <option value="<%= team.id()%>"> <%= team.name() %> </option>
          <% end %>
        </select>
        <button type='submit'>Add game</button>
      </form>
      <%end%>

      <%if @add_away%>
      <form action="/games" method='post'>
        <h5><b>Home</b></h5>
        <select id='team1_id' name='team1_id' type='text'>
          <% @teams.each() do |team| %>
            <option value="<%= team.id()%>"> <%= team.name() %> </option>
          <% end %>
        </select>
        <h5>vs</h5>
        <h5><b>Away</b></h5>
        <input id='self_id' name='self_id' value='<%=@team.id()%>' type='hidden'>
        <input id='team2_id' name='team2_id' value='<%=@team.id()%>' type='hidden'>
          <h5><%=@team.name%></h5>
          <button type='submit'>Add game</button>
      </form>
      <%end%>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <h3>Home Games</h3>
      <% @team.game_as_team1.each() do |game| %>
        <li><%= game.team1.name() %> <%= game.team1_score() %> <%= game.team2.name() %> <%= game.team2_score() %></li>
      <% end %>
    </div>

    <div class="col-md-6">
      <h3>Away Games</h3>
      <% @team.game_as_team2.each() do |game| %>
        <h5> <%= game.team1.name() %> </h5>
      <% end %>
    </div>
  </div>

<hr>

  <h3> All Games </h3>
  <% @games.each() do |game| %>
    <li style='margin-bottom: 3px'><%= game.team1.name() %> <%= game.team1_score() %> : <%= game.team2.name() %> <%= game.team2_score() %>
      <a href="/teams/<%=@team.id%>/add_result" class="btn btn-primary btn-xs">Add Result</a>
    </li>

      <%if @add_result==true%>
      <form action='/games' method='post'>
        <input name='_method' value='patch' type='hidden'>
        <input name='game_id' name='game_id' value='<%=game.id%>' type='hidden'>
        <input id='self_id' name='self_id' value='<%=@team.id()%>' type='hidden'>
        <input placeholder="<%=game.team1.name%> Score" name='team1_score' id='team1_score' type='number'>
        <input placeholder="<%=game.team2.name%> Score" name='team2_score' id='team2_score' type='number'>
        <button>Add Result</button>
      </form>
      <%end%>
    <%end%>

<button id="cc">Change Colour </button>
<script>
  var hello = "hello world";
  console.log(hello);
  var cc = document.getElementById('cc');
  cc.innerHTML = "Changed"
</script>
